[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
skip-character-set-client-handshake    # ★ 클라이언트 요구 무시하고 서버 설정 고정

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
